[submodule "corgi"]
	path = corgi
	url = https://github.com/natj/corgi.git
	branch = master
[submodule "tools/ezh5"]
	path = tools/ezh5
	url = https://github.com/natj/ezh5.git
	branch = master
[submodule "tools/fmt"]
	path = tools/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "tools/cppitertools"]
	path = tools/cppitertools
	url = https://github.com/ryanhaining/cppitertools.git
[submodule "pytools/pybox"]
	path = pytools/pybox
	url = https://github.com/natj/pyBox.git
	branch = master
