@import url("theme.css");

/* change global webpage max span */
.wy-nav-content {
    max-width: 90%;
}


/* unit tool  */
.value {
    width:70px;
}


.column {
    width:24%;
    float:left;
}


.rst-content section ul li {
    list-style:disc;
    margin-left:24px
}

table.docutils div.line-block {
    margin-left: 0;
    margin-bottom: 0;
}

/* Add collapse indicator missing from rtd theme. */
details.admonition:not([open]) {
    padding-bottom: 0;
}
details.admonition > summary.admonition-title {
    list-style: none;
    cursor: pointer;
    padding-right: .5rem;
}
details.admonition > summary.admonition-title::after {
    content: "→";
    height: 1.2rem;
    width: 1.2rem;
    transform: rotate(0deg);
    transition: transform .25s;
    float: right;
}
details.admonition[open] > summary.admonition-title::after {
    transform: rotate(90deg);
}
details.admonition:not([open]) > summary.admonition-title {
    margin-bottom: 0;
}
